

/* ==================================================
   Tabs
================================================== */

.nav {
 	margin-bottom: 0px;
  	margin-left: 0;
  	list-style: none;
}

.nav > li > a {
  	display: block;
  	color: #FFFFFF;
  	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	border: none;
  	-webkit-border-radius: 0;
       -moz-border-radius: 0;
          	border-radius: 0;
}

.nav > li > a:hover,
.nav > li > a:focus {
  	background-color: #F48A16;
	color: #FFFFFF;
  	text-decoration: none;
  	display: block;
}

.nav > li > a > img {
  	max-width: none;
}

.nav > .pull-right {
  	float: right;
}

.nav-tabs {
  	*zoom: 1;
}

.nav-tabs:before,
.nav-tabs:after {
  	display: table;
  	content: "";
  	line-height: 0;
}

.nav-tabs:after {
  	clear: both;
}

.nav-tabs {
  	border-bottom: none;
}

.nav-tabs > li {
	float: left;
	margin: 0 4px 0 0;
}

.nav-tabs > li > a {
	background: #3C3F45;
	padding:15px;
  	line-height: 20px;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
	border: none;
  	background-color: #FDBB00;
	color: #FFFFFF;
  	cursor: default;
}

.tabbable {
  	*zoom: 1;
}

.tabbable:before,
.tabbable:after {
  	display: table;
  	content: "";
  	line-height: 0;
}

.tabbable:after {
  	clear: both;
}

.tab-content {
  	overflow: auto;
	padding: 20px;
	background: #26292E;
}

.tab-content > .tab-pane {
  	display: none;
}

.tab-content > .active {
  	display: block;
}


